<div>
    <div class="container">
        <div class="row page-title">
            <div class="col-sm">
            </div>
            <div class="col-sm text-center display-2 border rounded border-dark border-4">
                UpGrad
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p class="display-3 text-center">Explore projects and connect with your peers</p>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center"> <button type="button" class="btn btn-light btn-lg rounded-pill"
                id="homepage-signup">Sign up</button>
        </div>
        <br>
        <div class="d-flex justify-content-center"> <button type="button"
                class="btn btn-outline-dark btn-lg rounded-pill" id="homepage-login">Log
                in</button>
        </div>
    </div>

    <script src="/js/homepage.js"></script>