<div class="my-5 col-10 mx-auto">
    <p class="text-center display-2 bg-dark rounded text-white py-2 mx-auto col-md-4">
        upGrad
    </p>
    <p class="display-3 col-10 col-md-8 col-md-5 mx-auto text-center">Explore projects and connect with your peers</p>
    <div class="d-flex justify-content-center"> <button type="button" class="btn btn-dark btn-lg rounded-pill"
        id="homepage-signup">Sign up</button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-dark btn-lg rounded-pill" id="homepage-login">Login</button>
    </div>
</div>

<script src="/js/homepage.js"></script>