<div>
  <div class="container">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-6">

        <form>
          <div class="form-group">
            <label class="h1" for="name">Full Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="fullName"
              placeholder="Enter your full name" />
          </div>
          <div class="form-group">
            <label class="h1" for="email-signup">Email address</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
              placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-dark">We'll never share your
              email with anyone else.</small>
          </div>
          <div class="form-group">
            <label class="h1" for="institutionName">University Name</label>
            <input type="text" class="form-control" id="institutionName" aria-describedby="institutionName"
              placeholder="Enter your university name" />
          </div>
          <div class="form-group">
            <label class="h1" for="password-signup">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Choose a Password" />
          </div>

          <button type="submit" id="signup-submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
      <div class="col-3">
      </div>
      <script src="/js/signup.js"></script>