<div class="my-5 col-10 col-md-7 col-lg-5 mx-auto">
  <form>
    <div class="my-4">
      <label class="h5" for="name">Full Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="fullName"
        placeholder="Full name" />
    </div>
    <div class="my-4">
      <label class="h5" for="email-signup">Email address</label>
      <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp"
        placeholder="Email" />
    </div>
    <div class="my-4">
      <label class="h5" for="institutionName">University Name</label>
      <input type="text" class="form-control" id="institutionName" aria-describedby="institutionName"
        placeholder="University Name" />
    </div>
    <div class="form-group">
      <label class="h5" for="password-signup">Password</label>
      <input type="password" class="form-control" id="password-signup" placeholder="Password" />
    </div>
    <button type="submit" id="signup-submit" class="btn btn-dark my-4 mx-auto">Submit</button>
  </form>
</div>
<script src="/js/signup.js"></script>